<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [ ]:
import pandas as pd
import psycopg2
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [ ]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [ ]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [ ]:
query_3_1 = f'''
      SELECT
              COUNT(id) AS "Количество вакансий"
        FROM  public.vacancies
'''

In [ ]:
df = pd.read_sql_query(query_3_1, connection)
display(df)

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [ ]:
query_3_2 = f'''
      SELECT
              COUNT(id) AS "Количество работодателей"
        FROM  public.employers
'''

In [ ]:
df = pd.read_sql_query(query_3_2, connection)
display(df)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [ ]:
query_3_3 = f'''
      SELECT
              COUNT(id) AS "Количество регионов"
        FROM  public.areas
'''

In [ ]:
df = pd.read_sql_query(query_3_3, connection)
display(df)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [ ]:
query_3_4 = f'''
      SELECT
             COUNT(id) AS "Количество сфер деятельности"
        FROM  public.industries
'''

In [ ]:
df = pd.read_sql_query(query_3_4, connection)
display(df)

***

### Вывод:
После проведения ознакомительного(предварительного) анализа имеющихся у нас таблиц, мы можем сделать некоторые выводы. Нам предоставлены данные о значительном количестве работодателей которым требуются специалисты с различным уровнем квалификации и опыта работы.
Также мы понимаем, что в настоящее время требуются работники в самых различных сферах деятельности во многих регионах нашей страны и за ее пределами.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
query_4_1 = f'''
      SELECT
              a.name AS "Регион",
              COUNT(v.id) AS "Количество вакансий"
        FROM  public.vacancies v
              LEFT JOIN public.areas a 
              ON v.area_id = a.id
       GROUP  BY a.name
       ORDER  BY 2 desc
       LIMIT  5
'''

In [ ]:
df = pd.read_sql_query(query_4_1, connection)
display(df)

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
query_4_2 = f'''
      SELECT
              COUNT(id)
        FROM  public.vacancies 
       WHERE  salary_from IS NOT NULL 
              OR salary_to IS NOT NULL
'''

In [ ]:
df = pd.read_sql_query(query_4_2, connection)
display(df)

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
query_4_3 = f'''
      SELECT
              ROUND(AVG(salary_from)) AS "Средняя з/п нижняя граница",
              ROUND(AVG(salary_to)) AS " Средняя з/п верхняя граница"
        FROM  public.vacancies
'''

In [ ]:
df = pd.read_sql_query(query_4_3, connection)
display(df)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query_4_4 = f'''
      SELECT
              schedule,
              employment,
              COUNT(id)
        FROM  public.vacancies
       GROUP  BY 1,2
       ORDER  BY 3 desc
      OFFSET  1 
       LIMIT  1
'''

In [ ]:
df = pd.read_sql_query(query_4_4, connection)
display(df)

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query_4_5 = f'''
      SELECT
              experience,
              COUNT(experience)
        FROM  public.vacancies
       GROUP  by experience
       ORDER  BY 2
'''

In [ ]:
df = pd.read_sql_query(query_4_5, connection)
display(df)

***

 ### Выводы:
Проведя детальный анализ данных, выяснили ,что наибольшее количество вакансий находится в городах-столицах (Москва, Санкт Петербург), столицах соседних государств (Минск, Алматы), а также в столице Сибири (Новосибирске). Средняя зарплата по вакансиям сотавляет более 90 т.руб. Наиболее популярным сочетанием рабочего графика и типа трудоустройства является - удаленная работа - полная занятость. Требуется большое количество работников с опытом работы от 1 года до трех лет. Молодые специалисты вполне могут найти интересную работу с достойной оплатой труда.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
query_5_1 = f'''
     (SELECT
              e.name,      
              COUNT(v.id)
        FROM  public.vacancies v
              LEFT JOIN employers e 
              ON v.employer_id = e.id
       GROUP  BY e.id
       ORDER  BY 2 desc
       LIMIT  1)

       UNION 
             
     (SELECT
              e.name,       
              COUNT(v.id)   
        FROM  public.vacancies v
              LEFT JOIN employers e 
              ON v.employer_id = e.id
       GROUP  BY e.id
       ORDER  BY 2 desc
      OFFSET  4 
       LIMIT  1)
       order  by 2 DESC
'''

In [ ]:
df = pd.read_sql_query(query_5_1, connection)
display(df)

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
query_5_2 = f'''
      SELECT
              a.name,
              COUNT(DISTINCT e.id),
              COUNT(DISTINCT v.id)
        FROM  public.areas a
              LEFT JOIN public.employers e 
              ON e.area = a.id
              
              LEFT JOIN public.vacancies v 
              ON v.area_id = a.id
       WHERE  v.id IS NULL
       GROUP  BY a.name
       ORDER  BY 2 desc
       LIMIT  1
'''

In [ ]:
df = pd.read_sql_query(query_5_2, connection)
display(df)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query_5_3 = f'''
      SELECT
              e.name AS name,
              COUNT(distinct v.area_id) AS cnt_area
        FROM  employers e
              JOIN vacancies v 
              ON e.id = v.employer_id
       GROUP  BY e.name
       ORDER  BY cnt_area DESC
       LIMIT  1
        '''

In [ ]:
df = pd.read_sql_query(query_5_3, connection)
display(df)

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query_5_4 = f'''
      SELECT
              COUNT(e.name) AS cnt_name
        FROM  employers e
              LEFT JOIN employers_industries ei 
              ON e.id = ei.employer_id
              
              LEFT JOIN industries i 
              ON i.id = ei.industry_id
       WHERE  i.name IS NULL
        '''

In [ ]:
df = pd.read_sql_query(query_5_4, connection)
display(df)

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query_5_5 = f'''
      SELECT
              e.name,
              COUNT(i.name) AS cnt_name
        FROM  employers e
              LEFT JOIN employers_industries ei 
              ON e.id = ei.employer_id
              
              LEFT JOIN industries i 
              ON i.id = ei.industry_id
       GROUP  BY e.name
      HAVING  COUNT(i.name) = 4
       ORDER  BY e.name
      OFFSET  2 
       LIMIT  1
'''

In [ ]:
df = pd.read_sql_query(query_5_5, connection)
display(df)

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query_5_6 = f'''
      SELECT
              COUNT(e.name) AS cnt_name
        FROM  employers e
              LEFT JOIN employers_industries ei 
              ON e.id = ei.employer_id
              
              LEFT JOIN industries i 
              ON i.id = ei.industry_id
       WHERE  i.name ='Разработка программного обеспечения'
'''

In [ ]:
df = pd.read_sql_query(query_5_6, connection)
display(df)

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
df =pd.read_html('https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8#%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%BE%D0%B2-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%B2')
cities = df[1]['Город']
cities = cities.replace('Воронеж[a]','Воронеж')
cities = tuple(cities)
display(cities)

In [ ]:
query_5_7 = f'''
      SELECT
              a.name AS name,
              COUNT(v.id) AS cnt_vacancies
        FROM  vacancies v
              JOIN areas a 
              ON v.area_id = a.id
              
              JOIN employers e 
              ON v.employer_id = e.id
       WHERE  e.name = 'Яндекс'
              AND a.name IN {cities}
       GROUP  BY a.id

       UNION  ALL

       SELECT
               'Total',
               COUNT(v.id)
        FROM  vacancies v
              JOIN areas a 
              ON v.area_id = a.id
              
              JOIN employers e 
              ON v.employer_id = e.id
       WHERE  e.name = 'Яндекс' 
              AND a.name IN {cities}
       ORDER  BY 2
'''

In [ ]:
df = pd.read_sql_query(query_5_7, connection)
display(df)

***

### Выводы:
Проведя исследования данных о работодателях делаем вывод, что наибольшее количество вакансий предоставляют большие корпорации находящиеся на территории РФ. Основная часть вакансий сконцентрирована в сфере IT - технологий по самым различным сферам. Многие компании предлагают работу в городах-миллионниках.

# Юнит 6. Анализ работодателей

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query_6_1= f'''
      SELECT 
              COUNT(name) AS cnt
        FROM  vacancies
       WHERE  name ILIKE '%data%'
              OR name ILIKE '%данн%'
'''

In [ ]:
df = pd.read_sql_query(query_6_1, connection)
display(df)

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query_6_2 = f'''
      SELECT 
              COUNT(id)
        FROM  vacancies
       WHERE  (name ILIKE '%data scientist%'
              OR name ILIKE '%data science%'
              OR name ILIKE '%исследователь данных%'
              OR name ILIKE '%machine learning%'
              OR name ILIKE '%машинн%обучен%'
              OR name LIKE '%ML%')
              AND name NOT LIKE '%HTML%'
              AND (name ILIKE '%junior%'
              OR employment = 'Стажировка'
              OR experience = 'Нет опыта')
'''

In [ ]:
df = pd.read_sql_query(query_6_2, connection)
display(df)

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query_6_3 = f'''
      SELECT 
              COUNT(id)
        FROM  vacancies
       WHERE  (name ILIKE '%data scientist%'
              OR name ILIKE '%data science%'
              OR name ILIKE '%исследователь данных%'
              OR name ILIKE '%machine learning%'
              OR name ILIKE '%машинн%обучен%'
              OR name LIKE '%ML%')
              AND name NOT LIKE '%HTML%'
              AND (key_skills ilike '%SQL%'
              OR key_skills = '%postgres%')
'''

In [ ]:
df = pd.read_sql_query(query_6_3, connection)
display(df)

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query_6_4 = f'''
      SELECT 
              COUNT(id)
        FROM  vacancies
       WHERE  (name ILIKE '%data scientist%'
              OR name ILIKE '%data science%'
              OR name ILIKE '%исследователь данных%'
              OR name ILIKE '%machine learning%'
              OR name ILIKE '%машинн%обучен%'
              OR name LIKE '%ML%')
              AND name NOT LIKE '%HTML%'
              AND key_skills ilike '%Python%'
'''

In [ ]:
df = pd.read_sql_query(query_6_4, connection)
display(df)

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
query_6_5 = f'''
      SELECT 
              ROUND(AVG(LENGTH(key_skills)-LENGTH(REPLACE(key_skills,'\t',''))+1),2) AS rnd_skill
        FROM  vacancies
       WHERE  (name ILIKE '%data scientist%'
              OR name ILIKE '%data science%'
              OR name ILIKE '%исследователь данных%'
              OR name ILIKE '%machine learning%'
              OR name ILIKE '%машинн%обучен%'
              OR name LIKE '%ML%')
              AND name NOT LIKE '%HTML%'
              AND key_skills IS NOT NULL
'''

In [ ]:
df = pd.read_sql_query(query_6_5, connection)
display(df)

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
query_6_6 = f'''
      SELECT 
              experience,
              ROUND(AVG(COALESCE((salary_from+salary_to)/2,salary_from,salary_to))) AS avg_salary
        FROM  vacancies
       WHERE  (name ILIKE '%data scientist%'
              OR name ILIKE '%data science%'
              OR name ILIKE '%исследователь данных%'
              OR name ILIKE '%machine learning%'
              OR name ILIKE '%машинн%обучен%'
              OR name LIKE '%ML%')
              AND name NOT LIKE '%HTML%'
              AND (salary_from IS NOT NULL
              OR salary_to IS NOT NULL)
       GROUP  BY experience
       ORDER  BY avg_salary
'''

In [ ]:
df = pd.read_sql_query(query_6_6, connection)
display(df)

***

### Выводы:
Предметно изучив информацию делаем вывод,что требуется огромное количество специалистов по работе с данными.
Достаточно большой объем вакансий для начинающих специалистов по Data Science уровня Junior. Причем средний уровень заработной платы таких соискателей гораздо выше, чем средний по стране в других профессиях.

***

#### Дополнительные исследования
Создадим запрос, чтобы узнать  пятерку лидеров по количеству ключевых навыков,которые работодатель требует  в первую очередь.

In [ ]:
query_7_1 = f'''
      SELECT 
              SPLIT_PART(key_skills,'\t',1) AS skill,
              COUNT(split_part(key_skills,'\t',1))
        FROM  vacancies 
       GROUP  BY skill
       ORDER  BY 2 desc
       LIMIT  5
'''

In [ ]:
df = pd.read_sql_query(query_7_1, connection)
display(df)

***

# Общий вывод по проекту

Исходы из вышеизложенного мы можемсделать следующие заключение. Рынок труда довольно огромен. Каждый желающий трудиться может найти работу. Вакансии представлены очень широким спектром сфер деятельности (промышленность, медицина, торговля, народное хозяйство и.т.д.) Наиболее популярным напрвлением в настоящее время являются информационные технологии, а именно Data Science. Из исследований в п. 7.1 мы видим, что первым ключевым навыком из всей массы вакансий работодатель ставит (SQL, Python, JavaScript, Английский язык, GIT). Из пяти первых SkillFactory включил в курс по DataScience три позиции. Значит мы находимся на правильном пути.